
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --primary-color: #0a1b40;
    --secondary-color: #bfa582;
    --heading-font: "DM Serif Display", serif;
    --para-font: "Rajdhani", sans-serif;
    --nav-font: "Open Sans", sans-serif;
}

nav {
    background-color: var(--primary-color);
    height: 110px;
}
.nav-links{
    margin-left: 60px;
}
header .logo {
    margin-left: 60px;
}

header .logo img {
    height: 110px;
    width: 100px;
}

.nav-links a,
span {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 13px;
    font-family: var(--nav-font);
}

.nav-links a:hover {
    border-bottom: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.nav-sec-2,
.nav-sec-1 {
    margin-top: 70px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown span {
    cursor: default;
}

.dropdown img {
    width: 200px;
    height: 150px;
}

.d-flex a {
    color: black;
}

.margins {
    margin-top: 15px;
    margin-right: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 522px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-left: -197px;

}

.dropdown-content a {
    text-align: center;
    margin-left: 12px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.jc-center {
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
}

.right {
    margin-left: 10px;
}

.h-1 {
    margin-top: 50px;
    font-size: 45px;
}

.h-2 {
    font-size: 23px;
    margin-bottom: 15px;
}

.btn {
    border-radius: 20px;
    background-color: #0a1b40;
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
}

.btn:hover {
    background-color: #be9e73;
    color: #fff;
}
.field{
    width: 100%;
}
.btn a {
    text-decoration: none;
    color: white;
}

.img-1 {
    margin-bottom: 10px;
}

.img-2 {
    margin-bottom: 10px;
}

.col-xl-5 {
    background-color: rgb(247, 247, 247);
}

.h-3 {
    margin-top: 50px;
}
.next-page a{
    text-decoration: none;
    color: #0044ff;
    margin-left: 1px;
    font-size:large;
    font-weight:500;
}
.next-page a:hover{
    color: #002c8a;
    transition: .2s;
}

.right p {
    font-size: 23px;
    margin-top: 29px;
    margin-bottom: 30px;
}

.right ul li {
    font-size: 20px;
}

.accordion {
    font-size: 20px;
    margin-top: 28px;
    margin-bottom: 15px;
}

.accordion p {
    font-size: 20px;
}

.accordion i {
    font-size: 25px;
    padding-left: 20px;
}

.accordion h4 {
    margin-left: 20px;
}

.accordion-item {
    margin-top: 1px;
}

.input{
    padding-bottom: 10px;
    background-color: #f5f5f5;
}
.modal-body{
    background-color:#f5f5f5;
    
}
.modal-body select{
    margin-bottom: 10px;
}
.input-5 {
    height:120px;
}

/* Now we are styling on a seagull images page */

.container-1 {
    position: relative;
    min-height: 100vh;
    background-color: rgb(247, 247, 247);
}

.container-1 h1 {
    font-size: 45px;
    font-weight: normal;
    padding: 20px;
    color: #333;
    text-align: center;
    text-transform: capitalize;
}

.container-1 header a {
    font-size:large;
    font-weight: normal;
    padding-top: 1px;
    color: #0044ff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.container-1 header a:hover{
    color: #002c8a;
    transition: .2s;
}

.container-1 .images {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.container-1 .images .image {
    height: 250px;
    width: 360px;
    border: 5px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
}

.container-1 .images .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.container-1 .images .image:hover img {
    transform: scale(1.1);
}

.container-1 .popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.container-1 .popup-image span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight:100;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.container-1 .popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}
footer {
    background-color: #0a1b40;
    height: 300px;
    margin-top: 50px;
    padding-top: 30px;
}
.shipyard h4{
    font-family: var(--heading-font);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    color: white;
    padding-bottom: 30px;
}
.shift-1 a{
    text-decoration: none;
    color: white;
}
.shift-1 li{
    text-align: center;
    margin-bottom: 5px;
}
.shift-2 li{
    margin-bottom: 5px;
}
.shift-1 a:hover{
    color: #bfa582;
    text-decoration: underline;
}
.shift-2 a:hover{
    color: #bfa582;
    text-decoration: underline;
}

.shift-1 ul{
    list-style: none;
}

.shift-2 a{
    text-decoration: none;
    color: white;
}
.shift-2 ul{
    list-style: none;
}
.margin-40{
    margin-left: 37px;
}
.sh-2 ul{
    padding-left: 0;
}
.shift-2{
    margin-left: 25px;
}

@media only screen and (max-width: 575px) {

    .nav-links {
        display: block;
        margin-top: 17px;
    }

    .nav-links a,
    span {
        margin-left: 7px;
        font-size: 9px;
    }

    nav{
        height: 60px;
    }
    header .logo {
        margin-left: 0;
        margin-top: 10px;
    }
    .dropdown-content {
        margin-left: -92px;
        width: 310px;
    }

    .dropdown img {
        width: 130px;
        height: 120px;
    }
    .nav-links{
        margin-left: 0;
    }
    .sm-none{
        display: none;
    }
    .shift-1 a{
        font-size: 12px;
    }
    .shift-2 a{
        font-size: 12px;
    }
    footer{
        height: 702px;
    }
    .shipyard h4{
        font-size: 17px;
    }
}
@media (max-width:768px) {
    .container-1 .popup-image img {
        width: 95%;
    }
    footer{
        height: 356px;
    }
    .margin-40{
        margin-left: -20px;
    }
    
}